.containerCommunity{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;;
    padding: 29px 0 0 50px;
    gap: 16px;

}
/* title community page */
.descCommunityPage{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* search bar community page  */
.containerSeacrhCommunity{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 28%;   
    height: 7%;
}
.communityForm {
    display: flex;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    padding: 17px;
}
  
.communityForm input[type="text"] {
    border: none;
    width: 93%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #fafafa;
    outline: none;
}
  
.communityForm button {
    display: flex;
    margin: auto;
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

/* ommunity Home Page Button */
.containerCommunityContent{
    display: flex;
    height: auto;
    background-color: #19A7CE;
}

.containerCommunityBtn{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 72%;
    row-gap: 30px;
    column-gap: 50px;
    background-color: #F7F7F7;
}
.communtiyHomeBtn{
    display: flex;
    align-items: center;
    width: 516px;
    height: 90px;
    padding: 18px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    gap: 15px;
    cursor: pointer;
}

.containerCommunityPictureBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    border-radius: 20px;
}

.containerTextCommunityBtn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.mainTextCommunityBtn{
    display: flex;   
    align-items: center;
    flex-wrap: wrap;
}

.titleCommunityBtn{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #373737;
}

.followCommunityBtn{
    margin: 4px 0;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #757575;
}

.dotFollowCommunity{
    display: flex;
    align-items: center;
    margin: 0 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #757575;
}

.descCommunityBtn{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
}
.containerJoinCommunityBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    cursor: pointer;
}

.joinCommunityBtn{
    height: 50%;
    width: 90%;
    color: #ffffff;
    background-color: #146C94;
    border-radius: 20px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    transition: background-color 0.1 ease-in-out; 
}

.joinCommunityBtn:hover{
    background-color: #19A7CE;
    cursor: pointer;
}

/* Community Create Container */
.containerCreateCommunity{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 28%;
    background-color: #F7F7F7;
}

.createCommunityContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 78%;
    margin: 0px 30px;
    background-color: #ffffff;
    border-radius: 20px;
    gap: 15px;
}

.createCommunityContent img{
    width: 100%;
    height: 37%;
}

.titleCreateCommunity{
    display: flex;
    color: #373737;
    font-size: 16px;
    font-weight: 500;
}

.descCreateCommunity{
    display: flex;
    max-width: 228px;
    text-align: center;
    color: #757575;
    font-size: 14px;
}

.createCommunityBtn{
    display: flex;
    padding: 11px 64px;
    gap: 10px;
    font-weight: 600;
    border-radius: 26.9px;
    border: 2px solid #19A7CE;
    color: #19A7CE;
    cursor: pointer;
    background-color: #FFF;
    transition: background-color 0.4s ease-out;
}

.createCommunityBtn:hover{
    background-color: #B9D3DF;
}

/* Dialog Create Community */
body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.containerModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 62%;
    padding: 15px 50px;
    background: #fff;
    border-radius: 20px;
    
}
.contentModal{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.headerModel{
    display: flex;
    align-items: center;
    width: 100%;
}

.titleCreateCommunityModal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #373737;
    font-size: 20px;
}

.closeModal {
    display: flex;
    border: none;
    background: transparent;
    cursor: pointer;
}

.addBannerCommunity{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 50px 0px;
    height: 32%;
    max-height: 200px;
    width: 100%;
    background-color: #D9D9D9;;
    border-radius: 20px;
}

.addProfilePictCommunity{
    position: absolute;
    top: 28%;
    left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
    border-radius: 140px;
    background-color: #B7B7B7;
}

.bannerCommunity{
    display: flex;
    height: 25%;
    width: 25%;
}

.addDescCommunity{
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 66%;
    height: 27%;
    border: none;
    background: #FFF;
}

.addDescCommunity input[type="text"] {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px 10px;
    border: 2px solid #757575;
    border-radius: 20px; 
}

.communityType{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.communityTypeRadio{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100px;
}

.typeRadioIcon{
    display: flex;
    margin: 0px 6px;
}

