.containerCommunityHome{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #f7f7f7;
}

.communityBackground{
    display: flex;
    width: 100%;
    height: 35%;
    background-image: url("/src/assets/images/profile-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.communityPicture{
    position: absolute;
    top: 30%;
    left: 22%;
    height: 270px;
}

.headerCommunity{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 9%;
    background-color: #ffffff;
}

.titleCommunityHome{
    display: flex;
    margin-left: 22%;
    margin-right: auto;
    color: #373737;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.joinCommunityBtn{
    display: flex;
    color: #ffffff;
    background-color: #146C94;
    margin-right: 3%;
    padding: 3px 30px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.2s ease-in-out;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
}

.joinCommunityBtn:hover{
    background-color: #19A7CE;
    cursor: pointer;
}

.containBody{
    display: flex;
    width: auto;
    height: 56%;
    margin: 35px 0px auto 35px;
    background-color: #f7f7f7;
    gap: 20px;
}

.aboutCommunity{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-bottom: auto;
    width: 20%;
    border-radius: 20px;
}
.titleAboutCommunity{
    display: flex;
    padding: 9px 17px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #757575;
    height: auto;

    color: #373737;
    font-size: 17.136px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.describeCommunity{
    display: flex;
    width: 280px;
    margin: 12px 17px;
    align-items: center;
    flex-wrap: wrap;

    color: #373737;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.createdHistory,
.followedHistory{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    color: #373737;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.createdHistory img,
.followedHistory img{
    display: flex;
    align-items: center;
    padding: 0px 17px;
}

.communityHomeContent{
    display: flex;
    width: 80%;
    height: auto;
    background-color: #ffffff;
    border-radius: 30px;
}