.containerCommunity{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;;
    padding: 29px 0 0 50px;
    gap: 16px;

}
/* title community page */
.descCommunityPage{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* search bar community page  */
.containerSeacrhCommunity{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 28%;   
    height: 7%;
}
.communityForm {
    display: flex;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    padding: 17px;
}
  
.communityForm input[type="text"] {
    border: none;
    width: 93%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #fafafa;
    outline: none;
}
  
.communityForm button {
    display: flex;
    margin: auto;
    border: none;
    background-color: #fafafa;
    cursor: pointer;
}

/* ommunity Home Page Button */
.containerCommunityContent{
    display: flex;
    height: auto;
    max-height: 690px;  
}

.containerCommunityBtn{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 72%;
    row-gap: 30px;
    column-gap: 50px;
    background-color: #F7F7F7;
    overflow-y: auto;
}
.communityHomeBtn{
    display: flex;
    align-items: center;
    width: 516px;
    height: 90px;
    padding: 18px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    gap: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.4s ease-out;
}

.communityHomeBtn:hover{
    background-color: #dadada;
}

.containerCommunityPictureBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    border-radius: 20px;
}

.containerTextCommunityBtn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.mainTextCommunityBtn{
    display: flex;   
    align-items: center;
    flex-wrap: wrap;
}

.titleCommunityBtn{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #373737;
}

.followCommunityBtn{
    margin: 4px 0;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #757575;
}

.dotFollowCommunity{
    display: flex;
    align-items: center;
    margin: 0 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #757575;
}

.descCommunityBtn{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
}
.containerJoinCommunityBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    cursor: pointer;
}

.joinCommunityBtn{
    height: 50%;
    width: 90%;
    color: #ffffff;
    background-color: #146C94;
    border-radius: 20px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    transition: background-color 0.2s ease-in-out; 
}

.joinCommunityBtn:hover{
    background-color: #19A7CE;
    cursor: pointer;
}

/* Community Create Container */
.containerCreateCommunity{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 28%;
    background-color: #F7F7F7;
}

.createCommunityContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 78%;
    margin: 0px 30px;
    background-color: #ffffff;
    border-radius: 20px;
    gap: 15px;
}

.createCommunityContent img{
    width: 100%;
    height: 37%;
}

.titleCreateCommunity{
    display: flex;
    color: #373737;
    font-size: 16px;
    font-weight: 500;
}

.descCreateCommunity{
    display: flex;
    max-width: 228px;
    text-align: center;
    color: #757575;
    font-size: 14px;
}




