.container {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.containerSidebar {
  width: 18%;
  padding: 0 1%;
}

.containerOutlet {
  width: 82%;
  display: flex;
  flex-grow: 1;
  background-color: #f7f7f7;
}

.containerHeader {
  width: 100%;
  height: 11vh;
  display: flex;
  flex-grow: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 1024px) {
  .containerSidebar {
    width: 8%;
    padding: 0 1%;
  }
}
