.feed {
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.shareWrapper {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.posts {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.endPost {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin-right: 20px;
}

.animation {
  width: 24px;
  height: 24px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
