.container-header {
  display: flex;
  margin: 0 auto;
  height: 115px;
  width: 100%;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container-logo {
  display: flex;
  height: 100%;
  width: 20%;
}

.link-logo {
  margin: auto 10%;
}

.container-searchbar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
}

.search-form {
  display: flex;
  align-items: center;
  margin: auto 2%;
  width: 39%;
  height: 55%;
  background-color: #fafafa;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  padding: 10px;
}

.search-form input[type="text"] {
  border: none;
  width: 93%;
  height: 100%;
  font-size: 16px;
  background-color: #fafafa;
  outline: none;
}

.search-form button {
  display: flex;
  margin: auto;
  border: none;
  background-color: #fafafa;
  cursor: pointer;
}
