.containerHeader {
  display: flex;
  height: 100%;
  width: 100%;
  background: #fff;
}

.containerLogo {
  display: flex;
  height: 100%;
  width: 18%;
}

.linkLogo {
  display: flex;
  align-items: center;
  margin: 0 0 0 10%;
  padding: 0;
  text-decoration: none;
}

.logo{
  height: 70%;
  width: 70%;
}

.textLogo{
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
  color: #373737;
}

.containerSearchBar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 82%;
  
}

.searchForm {
  display: flex;
  align-items: center;
  margin: auto 2%;
  width: 39%;
  height: 55%;
  background-color: #fafafa;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  padding: 18px;
  
}

.searchForm input[type="text"] {
  border: none;
  width: 95%;
  height: 100%;
  font-size: 16px;
  background-color: #fafafa;
  outline: none;
}

.searchForm button {
  display: flex;
  align-items: center;
  border: none;
  background-color: #fafafa;
  cursor: pointer;
}

