.containerHeader {
  display: flex;
  margin: 0 auto;
  height: 115px;
  width: 100%;
  background: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.containerLogo {
  display: flex;
  height: 100%;
  width: 20%;
}

.linkLogo {
  display: flex;
  align-items: center;
  margin: 0 0 0 10%;
  padding: 0;
  text-decoration: none;
}

.logo{
  height: 70%;
  width: 70%;
}

.textLogo{
  font-style: normal;
  font-weight: bolder;
  font-size: 32px;
  line-height: 48px;
  text-decoration: none;
  color: #373737;
}

.containerSearchBar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  
}

.searchForm {
  display: flex;
  align-items: center;
  margin: auto 2%;
  width: 39%;
  height: 55%;
  background-color: #fafafa;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  padding: 10px;
  
}

.searchForm input[type="text"] {
  border: none;
  width: 93%;
  height: 100%;
  font-size: 16px;
  background-color: #fafafa;
  outline: none;
}

.searchForm button {
  display: flex;
  margin: auto;
  border: none;
  background-color: #fafafa;
  cursor: pointer;
}
