.container-nopage{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

h1{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}