.containerPopular{
    display: flex;
    align-items: start;
    padding: 30px;
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    overflow-y: auto;
}

  
.posts {
    display: flex;
    flex-direction: column;
    width: 80%;

}

  
