.post{
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
}
.postWrapper{
    width: 100%;
}
.topPost{
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}
.left{
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: start;
}
.profilePost{
    margin-left: 30px;
}
.imgProfilePost{
    width: 60px; 
    border-radius: 50%;
}
.postInfo{
    padding-left: 20px;
}
.right{
    flex: 2 ;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}
.iconMore{
    margin-left: 40px;
}
.centerPost{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 2rem;
    overflow: hidden;
    gap: 1rem;
}

.wrapperCaption{
    margin: 20px 20px;
}
.imgPost{
    
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bottomPost{
    display: flex;
    align-items: center;
    justify-content: start;
    margin : 0 1rem;
}

.listFitur{
    display: flex;
    list-style: none;
    justify-content: start;
    padding-left: 0;
    margin-left: 10px;
    gap: 2rem;
}
.listItem{
    display: flex;
    align-items: center;
    margin: 10px 5px;
    color: #757575;
    cursor: pointer;
}
.iconlistItem{
    margin: 0 5px;
    
}
.iconLike:active{
    color: rgb(252, 101, 101) !important;

}


/* OTHER COMMENT */
.otherCommentWrapper{
    background-color: #eba4a4;
    height: fit-content;
    max-height: 200px;
}
.otherComment {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
  }

/* YOUR COMMENT */
.comment{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.profileCommentwrapper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileComment{
    margin: 10px 20px;
    width: 70%;
    border-radius: 50%;
}
.yourCommentWrapper{
    flex: 11;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
}
form{
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: start;
    background-color: #FAFAFA;
    padding-top: 5px;
    padding-bottom: 5px;
}
.inputComment{
    flex: 10;
    margin-left: 10px;
    border: none;
    background-color: #FAFAFA;
}
.inputComment:focus{
    outline: none;
}
.fiturComment{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    margin-right: 10px;
}
.itemFiturComment{
    margin: 5px 10px 5px 0;
    cursor: pointer;
    color: #757575;
}
