
/* CONTAINER PAGE PROFILE */
.containerProfile{
    flex-grow: 1;
    display: flex;
    background-color: #F7F7F7;
    flex-direction: column;
}

/* BACKGROUND BANNER PROFILE */
.profileBackground{
    display: flex;
    width: 100%;
    height: 35%;
    background-image: url("/src/assets/images/profile-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profilePicture{
    position: absolute;
    top: 30%;
    left: 22%;
    height: 270px;
}

/* PROFILE HISTORY MEDIA SOCIAL */
.containerMediaHistory{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9%;
    background-color: #ffffff;
}

.containerContentMediaHistory{
    display: flex;
    margin: 0 auto 0 25%;
    width: auto;
    gap: 40px;
}


/* CONTAINER UNTUK MEMBUNGKUS SOCIAL LINK DAN CONTENT MEDIA SOCIAL */
.contentBody{
    display: flex;
    height: 56%;
    width: 100%;
    padding: 70px 50px 0px 16px;
    gap: 16px;
}

/* SOCIAL LINK */
.socialMediaLink{
    display: flex;
    flex-direction: column; 
    padding: 17px 17px 17px 23px;
    width: 23%;
    height: 293px;
    background-color: #ffffff;
    border-radius: 20px;
}

.titleSocialMediaLink{
    margin: 0px 5px;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

/* CONTENT SOCIAL MEDIA PRIBADI */
.socialMediaContent{
    display: flex;
    flex-direction: column;
    padding: 34px 34px 0px 34px;
    width: 75%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
}

