/* CONTAINER SIDEBAR */
.containerSidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
}

/* CONTAINER PROFILE BUTTON */
.containerSocial{
  display: flex;
  margin: 30px 0;
  padding: 0 8px;
  width: 100%;
  height: 11.4%;
}

.socialButton {
  display: flex;
  width: 100%;
  
  align-items: center;  
  border: 1px solid #D6D6D6;
  border-radius: 20px;
  cursor: pointer;
  background-color: #FAFAFA;
}
  
.profileImage {
  padding: 20px 15px;
}
  
.profileInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}
  
.name {
  font-weight: bold;
  font-size: 20px;
}
  
.username {
  color: #757575;
  font-size: 16px;
}

  /* CONTAINER MENU BUTTON */
.containerMenu{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  
}

.menuButton {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #FAFAFA;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.iconMenu {
  display: flex;
  margin: 22.5px 10px 22.5px 40px;
}

.textMenu {
  width: auto;
  font-size: 20px;
  font-weight: bold;
}

/* CONTAINER TOPICS */
.containerTopics{
  display: flex;
  margin: 30px 40px;
  flex-direction: column;
  gap: 10px;
}

.topicsButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 10px;
}

.topicsButton .icon {
  display: flex;
  margin: auto 0;
}

.topicsButton .text {
  font-size: 16px;
  font-weight: bold;
}



