/* CONTAINER SIDEBAR */
.containerSidebar {
  display: flex;
  flex-direction: column;
}

/* CONTAINER PROFILE BUTTON */
.containerSocial {
  display: flex;
  margin: 30px 0;
  padding: 0 8px;
  width: 100%;
  height: 11.4%;
}

.socialButton {
  display: flex;
  height: 6rem;
  width: 100%;
  align-items: center;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fafafa;
}

.profileImage {
  border-radius: 50%;
  height: 90%;
  aspect-ratio: 1/1;
  padding: 5%;
  margin-right: 5%;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.username {
  color: #757575;
  font-size: 16px;
}

/* CONTAINER MENU BUTTON */
.containerMenu {
  display: flex;
  width: 100%;
  padding-bottom: 5px;
  flex-direction: column;
  gap: 10px;
}


/* CONTAINER TOPICS */
.containerTopics {
  display: flex;
  margin: 30px 40px;
  flex-direction: column;
  gap: 10px;
}


@media (max-width: 1280px) {
  .iconMenu {
    margin: 22.5px 10px 22.5px 10px;
  }

  .containerTopics {
    margin: 30px 10px;
  }
}

@media (max-width: 1024px) {

  .menuButton {
    justify-content: center;
  }

  .textMenu {
    display: none;
  }

  .containerTopics {
    display: none;
  }

  .containerSocial {
    display: none;
  }
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: #6d6d6d;
  border: none;
  border-radius: 20px;
  margin: 1rem 0;
}