/* CONTAINER SIDEBAR */
.containerSidebar {
  display: flex;
  flex-direction: column;
}

/* CONTAINER PROFILE BUTTON */
.containerSocial {
  display: flex;
  margin: 30px 0;
  padding: 0 8px;
  width: 100%;
  height: 11.4%;
}

.socialButton {
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fafafa;
}

.profileImage {
  padding: 20px 15px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.username {
  color: #757575;
  font-size: 16px;
}

/* CONTAINER MENU BUTTON */
.containerMenu {
  display: flex;
  width: 100%;
  padding-bottom: 5px;
  flex-direction: column;
  gap: 10px;
}

.linkStyle{
  text-decoration: none;
  border-radius: 20px;
  transition: box-shadow 0.3s ease-in-out!important;
}

.linkStyle:hover{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: none;
}

.menuButton:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #146c94;
}

.menuButton:active {
  background-color: #bbbbbb;
}

.iconMenu {
  display: flex;
  margin: 22.5px 10px 22.5px 40px;
}

.iconMenu:hover {
  color: #146c94;
  fill: #146c94;
  background-color: #146c94;
}

.textMenu {
  width: auto;
  font-size: 20px;
  font-weight: bold;
}

/* CONTAINER TOPICS */
.containerTopics {
  display: flex;
  margin: 30px 40px;
  flex-direction: column;
  gap: 10px;
}

.topicsButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 10px;
}

.topicsButton:active {
  opacity: 0.4;
}

.topicsButton .text {
  color: #373737;
  font-size: 16px;
}

@media (max-width: 1280px) {
  .iconMenu {
    margin: 22.5px 10px 22.5px 10px;
  }

  .containerTopics {
    margin: 30px 10px;
  }
}

@media (max-width: 1024px) {

  .menuButton {
    justify-content: center;
  }

  .textMenu {
    display: none;
  }

  .containerTopics {
    display: none;
  }

  .containerSocial {
    display: none;
  }
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: #6d6d6d;
  border: none;
  border-radius: 20px;
  margin: 1rem 0;
}