.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerBg {
  height: 100rem;
  aspect-ratio: 1/1;
  background-image: url("/src/assets/images/logbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(18deg);
  position: relative;
  left: -10rem;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerForm {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7%;
}

.form {
  width: 100%;
  height: auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.form input[type="text"],
.form input[type="password"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 55px;
  border: none;
  border-bottom: 3px solid #c0c0c0;
  outline: none;
  transition: border-bottom 0.6s ease-in-out;

  color: #757575;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  border-bottom: 3px solid #757575;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  padding: 7px 110px;
  border-radius: 30px;
  background-color: #146C94;
  border: none;
  cursor: pointer;

  color: #FFF;
  font-size: 24px;
  font-style: normal; 
  font-weight: 400;
  line-height: normal;
}

