.containerSplash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  animation: fadeOut 3s;
}

.containerImage {
  display: flex;
  height: 15%;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.titleSplashScreen {
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 48px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
