.trendingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 20rem;
  height: 16rem;
  padding: 1rem;
  background-color: black;
}

@media (max-width: 1280px) {
  .trendingContainer {
    display: none;
  }
}
