.containerUsernameDialog{
    width: 100vw;
    height: 100vh;
    background: none;
}

body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.containerModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31%;
    height: 55%;
    padding: 15px ;
    background: #fff;
    border-radius: 20px;
    row-gap: 22px;
}

.closeModal{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 15px;
}

.closeModalBtn {
    display: flex;
    border: none;
    background: transparent;
    cursor: pointer;
}