.search-bar{
  grid-area: search-bar;
  margin: auto 18px;
  display: flex;
  align-items: center;
  background-color: white;
}

.search-form {
  width: 600px;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  border-radius: 20px;
  border: 1px solid #D6D6D6;
  padding: 4px;
}

.search-form input[type="text"] {
  border: none;
  padding: 8px;
  font-size: 16px;
  background-color: transparent;
  color: black;
  outline: none;
  width: 600px;
}

.search-form button {
  display: flex;
  text-align: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 6px;
  margin: 2px 7px;
}