.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vw;
  display: grid;
  grid-template-columns: 16rem auto;
  grid-template-rows: 8rem auto;
  gap: 0px 0px;
  grid-template-areas: 
  "Header Header"
  "sidebar content"; 
}

.header{
  grid-area: Header;
  background-color: white;
  display: grid;
  grid-auto-columns: 1fr; 
  grid-template-columns: 16rem auto; 
  grid-template-rows: 8rem; 
  gap: 0px 0px; 
  grid-template-areas: 
    "title search-bar"; 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.profile-btn{
  margin: 10px auto;
  display: flex;
  align-items: center;
  background-color: aqua;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.profile-pict{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.username {
  color: black;
  font-weight: bold;
}

.media-handle{
  color: #777;
}


.sidebar {
  grid-area: sidebar;
  
  background-color: white;
}



.content {
  grid-area: content;
  background: blue;

}