.layout {
  width: 100vw;
  height: 100vw;
  display: grid;
  grid-template-columns: 16rem auto;
  grid-template-rows: 8rem auto;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.blue {
  background: blue;
}